<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>trust</string>
		<string>rainbow</string>
		<string>uniswap</string>
		<string>exodus</string>
		<string>robinhood-wallet</string>
		<string>dfw</string>
		<string>oneinch</string>
		<string>bitkeep</string>
		<string>bitcoincom</string>
		<string>zerion</string>
		<string>argent</string>
		<string>ambire</string>
		<string>ennowallet</string>
		<string>echooo</string>
		<string>kryptogo</string>
		<string>mixin</string>
		<string>linen</string>
		<string>talkapp</string>
		<string>lobstr</string>
		<string>dcent</string>
		<string>sone</string>
		<string>safewallet</string>
		<string>defiantapp</string>
		<string>bitnovowallet</string>
		<string>familywallet</string>
		<string>rakutenwalletweb3</string>
		<string>wpapp</string>
		<string>shefi</string>
		<string>berasig</string>
		<string>walletverse</string>
		<string>overflex</string>
		<string>alephium</string>
		<string>legionapp</string>
		<string>safe</string>
		<string>spatium</string>
		<string>coin98</string>
		<string>org.bladelabs.bladewallet</string>
		<string>yitoken</string>
		<string>bee</string>
		<string>pandoshiwallet</string>
		<string>peakdefiwallet</string>
		<string>cosmostation</string>
		<string>sahalwallet</string>
		<string>volt</string>
		<string>cardwallet</string>
		<string>com.mpcvault.mobileapp</string>
		<string>strikex</string>
		<string>pitaka</string>
		<string>archipage</string>
		<string>aktionariat</string>
		<string>edge</string>
		<string>moneyunstoppable</string>
		<string>o3wallet</string>
		<string>legacy</string>
		<string>clave</string>
		<string>porta</string>
		<string>tobewallet</string>
		<string>greenhood</string>
		<string>gm2</string>
		<string>clot</string>
		<string>w3akvrn</string>
		<string>shido</string>
		<string>bonuzapp</string>
		<string>metapro</string>
		<string>icewal</string>
		<string>dgpub</string>
		<string>dropmate</string>
		<string>wombat-wc</string>
		<string>dolletwc</string>
		<string>transi</string>
		<string>spatium-next</string>
		<string>bmawalletapp</string>
		<string>dfinnwallet</string>
		<string>trustassetapp</string>
		<string>plutope</string>
		<string>hai</string>
		<string>readywallet</string>
		<string>renegade-web3wallet</string>
		<string>komet</string>
		<string>nestwallet</string>
		<string>bettatrade</string>
		<string>wallypto</string>
		<string>plumaa</string>
		<string>proton</string>
		<string>beexo</string>
		<string>owallet</string>
		<string>DaffiOne</string>
		<string>beewallet.app</string>
		<string>com.ipmb.app</string>
		<string>tastycrypto</string>
		<string>x-app-open-wallet</string>
		<string>ncg</string>
		<string>nabox</string>
		<string>uptn</string>
		<string>orion</string>
		<string>zypto</string>
		<string>tofee</string>
		<string>bitpay</string>
		<string>swopapp</string>
		<string>xportal</string>
		<string>safemoon</string>
		<string>guardiianwallet</string>
		<string>nash</string>
		<string>fuse.cash</string>
		<string>kleverwallet</string>
		<string>thorwallet</string>
		<string>imtokenv2</string>
		<string>algorand</string>
		<string>bobablocks</string>
		<string>ancrypto</string>
		<string>cryptnox</string>
		<string>ontoprovider</string>
		<string>opto</string>
		<string>ttmwalletapp</string>
		<string>bitizen</string>
		<string>loopring</string>
		<string>abra</string>
		<string>hideoutWallet</string>
		<string>cybavowallet</string>
		<string>shinobi-wallet</string>
		<string>plasmapay</string>
		<string>obvious</string>
		<string>bridgewallet</string>
		<string>co.theeasy.app</string>
		<string>dentacoin-wallet</string>
		<string>bitski</string>
		<string>core</string>
		<string>wirexwallet</string>
		<string>awallet</string>
		<string>xfunwallet</string>
		<string>paraswap</string>
		<string>holdstation</string>
		<string>dfwallet</string>
		<string>celo</string>
		<string>verso</string>
		<string>abt</string>
		<string>oksewallet</string>
		<string>unstoppabledomains</string>
		<string>julwallet</string>
		<string>safepalwallet</string>
		<string>tangem</string>
		<string>simplehold</string>
		<string>slaviwallet</string>
		<string>keplrwallet</string>
		<string>omni</string>
		<string>talken-wallet</string>
		<string>orangewallet</string>
		<string>keyring</string>
		<string>assure</string>
		<string>rwallet</string>
		<string> payperless.com</string>
		<string>secux</string>
		<string>iopay</string>
		<string>qubic</string>
		<string>plasmawallet</string>
		<string>onekey-wallet</string>
		<string>status-app</string>
		<string>wattwallet</string>
		<string>bhcwallet</string>
		<string>ledgerlive</string>
		<string>earthwallet</string>
		<string>mathwallet</string>
		<string>bifrostwallet</string>
		<string>keywalletTouch</string>
		<string>ellipal</string>
		<string>floozwallet</string>
		<string>pintu</string>
		<string>spot</string>
		<string>pillarwallet</string>
		<string>premawallet</string>
		<string>mewwallet</string>
		<string>sparkpoint</string>
		<string>islamiwallet</string>
		<string>essentials</string>
		<string>bitpie</string>
		<string>zeluswallet</string>
		<string>coinstats</string>
		<string>ricewallet</string>
		<string>freedom-wallet</string>
		<string>oxalus</string>
		<string>avacus</string>
		<string>zel</string>
		<string>helix-id</string>
		<string>eidoo</string>
		<string>cryptobrowser</string>
		<string>frontier</string>
		<string>krystalWallet</string>
		<string>UvToken</string>
		<string>wallet3</string>
		<string>tongue</string>
		<string>tpoutside</string>
		<string>huobiwallet</string>
		<string>coolwallet</string>
		<string>hippowallet</string>
		<string>coingrig</string>
		<string>crypto.ab.wallet</string>
		<string>com.oice</string>
		<string>klipwallet</string>
		<string>stickyapp</string>
		<string>com.arianee.wallet</string>
		<string>fizz</string>
		<string>astrox</string>
		<string>ultimate</string>
		<string>com.wallet.passpay</string>
		<string>blocto</string>
		<string>frw</string>
		<string>SaitaPro</string>
		<string>streakk</string>
		<string>timeless-wallet</string>
		<string>kriptonio</string>
		<string>slingshot</string>
		<string>vimwallet</string>
		<string>autonomy-wc</string>
		<string>lif3wallet</string>
		<string>minerva</string>
		<string>krystalwallet</string>
		<string>metaone</string>
		<string>stasis</string>
		<string>impactsx</string>
		<string>tiduswallet</string>
		<string>chiawallet</string>
		<string>u2uwc</string>
		<string>xellar</string>
		<string>saas</string>
		<string>callback</string>
		<string>tellaw</string>
		<string>ukisshub</string>
		<string>catecoin</string>
		<string>okto</string>
		<string>subwallet</string>
		<string>tomiwallet</string>
		<string>haqq</string>
		<string>foxwallet</string>
		<string>dotted</string>
		<string>novawallet</string>
		<string>HARTi</string>
		<string>airgap-wallet</string>
		<string>pltwallet</string>
		<string>tk</string>
		<string>abc-wallet</string>
		<string>alpha-u-wallet</string>
		<string>nowwallet</string>
		<string>internetmoney</string>
		<string>backpack</string>
		<string>fireblocks-wc</string>
		<string>krakenwallet</string>
		<string>magiceden</string>
		<string>blockchain-wallet</string>
		<string>zengo</string>
		<string>timeless-x</string>
		<string>bybitapp</string>
		<string>bnc</string>
		<string>okex</string>
		<string>humblwallet</string>
		<string>hashme</string>
		<string>kyberswap:</string>
		<string>celowallet</string>
		<string>arculuswc</string>
		<string>chainapp</string>
		<string>huddln</string>
		<string>haha</string>
		<string>paybolt</string>
		<string>goldbit</string>
		<string>nefti</string>
		<string>neon</string>
		<string>leapcosmos</string>
		<string>kriptomatapp</string>
		<string>everspace</string>
		<string>enjinwallet</string>
		<string>cypherwallet</string>
		<string>ancrypto</string>
		<string>libera</string>
		<string>copiosa</string>
		<string>metaCubeWallet</string>
		<string>mtwallet</string>
		<string>myApp</string>
		<string>ripio</string>
		<string>broearn</string>
		<string>cling</string>
		<string>link.kelp.finance</string>
		<string>modularwallet</string>
		<string>burrito</string>
		<string>hashpack</string>
		<string>app.dosivault</string>
		<string>ELLIPAL</string>
		<string>poolswallet</string>
		<string>cryptokara</string>
		<string>nodle</string>
		<string>fintoken</string>
		<string>caesium-app</string>
		<string>gem</string>
		<string>wemixwallet30</string>
		<string>atwallet</string>
		<string>pluswallet</string>
		<string>myapp</string>
		<string>unaWallet</string>
		<string>cakewallet</string>
		<string>herewallet</string>
		<string>xucre.expo.client</string>
		<string>hyperPay</string>
		<string>bw</string>
		<string>meld</string>
		<string>wcqoin</string>
		<string>roam</string>
		<string>dropp</string>
		<string>veworld</string>
		<string>rsswallet</string>
		<string>azcoiner</string>
		<string>uiwallet</string>
		<string>nptwc</string>
		<string>panaromawallet</string>
		<string>soulwallet</string>
		<string>sinum</string>
		<string>savl</string>
		<string>wallacy</string>
		<string>fastex-wallet</string>
		<string>getcogni</string>
		<string>kigo-mobile-app</string>
		<string>miraiapp</string>
		<string>x9wallet</string>
		<string>blockaura</string>
		<string>bharatbox</string>
		<string>armanaportal</string>
		<string>blackfortwc</string>
		<string>puzzleapp</string>
		<string>bitso</string>
		<string>crypto.noone.wallet</string>
		<string>m1nty</string>
		<string>jbw</string>
		<string>tw</string>
		<string>ape</string>
		<string>concordiumwallet</string>
		<string>fxwallet</string>
		<string>coininn_wallet_wc</string>
		<string>yuse</string>
		<string>indigg</string>
		<string>moonstake</string>
		<string>bitpiewc</string>
		<string>wc-altme</string>
		<string>metawallet</string>
		<string>roninwallet</string>
		<string>ryipay</string>
		<string>muza</string>
		<string>bncus</string>
		<string>ammerwallet</string>
		<string>coinwallet</string>
		<string>utorg</string>
		<string>gtweb3wallet</string>
		<string>konio</string>
		<string>bitverseapp</string>
		<string>aurora-pass</string>
		<string>unstoppable.money</string>
		<string>pockie</string>
		<string>ullawallet</string>
		<string>amazeapp</string>
		<string>gooddollar</string>
		<string>TKwc</string>
		<string>ivirse</string>
		<string>zeal</string>
		<string>network.gridlock.AppGridlock</string>
		<string>smartbody</string>
		<string>gamic</string>
		<string>beanbag</string>
		<string>dgg</string>
		<string>spotonchain</string>
		<string>competenceid</string>
		<string>paliwallet</string>
		<string>wallet.pulse</string>
		<string>midoin</string>
		<string>com.kresus.superapp</string>
		<string>fw</string>
		<string>opz-wallet</string>
		<string>balletcrypto</string>
		<string>sinohopeapp</string>
		<string>halowallet</string>
		<string>superwallet</string>
		<string>oasys-wallet</string>
		<string>coinomi</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
